code[class*="language-"],
pre[class*="language-"]{color:#ddd;direction:ltr;font-family:Consolas, Monaco, 'Andale Mono', monospace;text-align:left;text-shadow:0 -.1em .2em black;white-space:pre;word-spacing:normal;word-break:normal;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;font-size:12px;}
pre[class*="language-"],:not(pre) > code[class*="language-"]{background:hsl(0, 0%, 8%);}
pre[class*="language-"]{border-radius:.5em;border:1px solid hsl(0,0%,22%);box-shadow:1px 1px .5em black inset;margin:.5em 0;overflow:auto;padding:1em;}
pre[class*="language-"]::selection{background:hsl(200, 4%, 16%);}
pre[class*="language-"]::selection{background:hsl(200, 4%, 16%);}
pre[class*="language-"]::-moz-selection, pre[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"]::-moz-selection{text-shadow:none;background:hsla(0,0%,93%,0.15);}
pre[class*="language-"]::selection, pre[class*="language-"]::selection,
code[class*="language-"]::selection, code[class*="language-"]::selection{text-shadow:none;background:hsla(0,0%,93%,0.15);}
:not(pre) > code[class*="language-"]{border-radius:.3em;border:.13em solid hsl(0,0%,33%);box-shadow:1px 1px .3em -.1em black inset;padding:.15em .2em .05em;}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata{color:hsl(0, 0%, 47%);}
.token.punctuation{opacity:.7;}
.namespace{opacity:.7;}
.token.tag,
.token.boolean,
.token.number{color:hsl(14, 58%, 55%);}
.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin{color:hsl(53, 89%, 79%);}
.token.attr-name,
.token.attr-value,
.token.string,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable{color:hsl(76, 21%, 52%);}
.token.atrule{color:hsl(218, 22%, 55%);}
.token.regex,
.token.important{color:hsl(42, 75%, 65%);}
.token.important{font-weight:bold;}
.token.entity{cursor:help;}
pre[data-line]{padding:1em 0 1em 3em;position:relative;}
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation{color:hsl(33, 33%, 52%);}
.token{position:relative;z-index:1;}
.line-highlight{background:-moz-linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0));background:-o-linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0));background:-webkit-linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0));background:hsla(0, 0%, 33%, 0.25);background:linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0));border-bottom:1px dashed hsl(0, 0%, 33%);border-top:1px dashed hsl(0, 0%, 33%);left:0;line-height:inherit;margin-top:0.75em;padding:inherit 0;pointer-events:none;position:absolute;right:0;white-space:pre;z-index:0;}
.line-highlight:before,
.line-highlight[data-end]:after{background-color:hsl(215, 15%, 59%);border-radius:999px;box-shadow:0 1px white;color:hsl(24, 20%, 95%);content:attr(data-start);font:bold 65%/1.5 sans-serif;left:.6em;min-width:1em;padding:0 .5em;position:absolute;text-align:center;text-shadow:none;top:.4em;vertical-align:.3em;}
.line-highlight[data-end]:after{bottom:.4em;content:attr(data-end);top:auto;}